<!--TOPBAR-->
<mat-toolbar>
  <img alt="" src="/assets/layout/images/logo.png" width="30px" class="ml-2">
  <span class="topbar-title px-2 text-3xl">ICESHU4</span>
  <button mat-icon-button
          (click)="sidenav.toggle()">
    <mat-icon> menu</mat-icon>
  </button>
  <span class="spacer"></span>

  <div class="topbar-profile">
    <img alt="avatar"  src="{{profileImage}}" [matMenuTriggerFor]="appMenu" class="profile-avatar cursor-pointer">
  </div>
  <mat-menu #appMenu="matMenu"  class="matMenu">
    <ng-template matMenuContent class="profile-menu-header" >
      <div  class="flex align-items-center ">
        <img alt="avatar" class="profile-avatar ml-2" src="{{profileImage}}" >
       <div class="flex flex-column">
         <span class="text-color text-base font-semibold" style="font-family: var(--font-family) ;">{{fullname}}</span>
         <span class="text-color text-base " style="font-family: var(--font-family) ;">{{role}}</span>
       </div>
      </div>
      <mat-divider class="my-2  mx-2"></mat-divider>
      <button mat-menu-item routerLink="/profile">
        <mat-icon class="text-color"> person</mat-icon>
        <span class="text-color text-base" style="font-family: var(--font-family)"> Profile</span>
      </button>
      <button mat-menu-item >
        <mat-icon class="text-color"> dark_mode</mat-icon>
        <div class="flex align-items-center justify-content-center">
          <span class="text-color text-base" style="font-family: var(--font-family)">Dark Mode</span>
          <p-inputSwitch  class="pl-3 flex darkmode-switch" (click)="$event.stopPropagation();"
                          [(ngModel)]="darkTheme" (onChange)="changeTheme()"></p-inputSwitch>
        </div>
      </button>
      <mat-divider class="my-2 mx-2"></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="text-color"> logout</mat-icon>
        <span class="text-color text-base"   style="font-family: var(--font-family)">Logout</span>
      </button>
    </ng-template>
  </mat-menu>

</mat-toolbar>
