<div class="card">
  <a class="text-primary cursor-pointer underline-link text-lg" routerLink="..">
    <i class="pi pi-arrow-circle-left mr-1" style="font-size: 1rem"></i>
    Back to Courses</a>
  <div class="flex align-items-center justify-content-between my-5 ">
    <h1 class="m-0 font-medium text-3xl uppercase">{{course.name}}</h1>
  </div>

  <div class="grid">
    <div *appHasRole="['STUDENT']" class="border-primary  border-1 border-solid   shadow-2 col-12 " style="border-radius: 7px">
      <div class="mb-5">
        <div class="flex justify-content-between align-items-center m-3">
          <span class="text-xl font-medium text-900  ">Instructors</span>
        </div>
        <p-dataView  [value]="instructors" >
          <ng-template let-instructor pTemplate="listItem">
            <div class="col-12 ">
              <div class="flex flex-column xl:flex-row xl:align-items-center p-4 gap-4">
                <img alt="avatar" class="profile-avatar ml-2" [src]="instructor.profile_photo">
                <div class="flex flex-column  align-items-start">
                  <div class="text-lg font-semibold text-900">{{ instructor.name + " " + instructor.surname}} </div>
                  <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-envelope"></i>
                  <span >{{ instructor.email }}</span>
                </span>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
    <div class="col-12" >
      <div *appHasRole="['DEPARTMENT_MANAGER','INSTRUCTOR','ADMIN']"  class="grid justify-content-between">
        <div class="border-primary  border-1 border-solid  card-section shadow-2 col-6 " style="border-radius: 7px">
          <div class="mb-5">
            <div class="flex justify-content-between align-items-center m-3">
              <span class="text-xl font-medium text-900  ">Instructors</span>
            </div>
            <p-dataView  [value]="instructors" >
              <ng-template let-instructor pTemplate="listItem">
                <div class="col-12 ">
                  <div class="flex flex-column xl:flex-row xl:align-items-center p-4 gap-4">
                    <img alt="avatar" class="profile-avatar ml-2" [src]="instructor.profile_photo">
                    <div class="flex flex-column  align-items-start">
                      <div class="text-lg font-semibold text-900">{{ instructor.name + " " + instructor.surname}} </div>
                      <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-envelope"></i>
                  <span >{{ instructor.email }}</span>
                </span>

                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
        <div *appHasRole="['DEPARTMENT_MANAGER','INSTRUCTOR','ADMIN']" class="col-6 border-primary  border-1 border-solid card-section  "
             style="border-radius: 7px">
          <div  class="mb-5">
            <div class="flex justify-content-between align-items-center m-3">
              <span class="text-xl font-medium text-900 ">Students</span>
            </div>
            <p-dataView  [value]="students"  [rows]="5" [paginator]="true">
              <ng-template let-student pTemplate="listItem">
                <div class="col-12">
                  <div class="flex flex-column xl:flex-row xl:align-items-center p-4 gap-4">
                    <img alt="avatar" class="profile-avatar ml-2" [src]="student.profile_photo">
                    <div class="flex flex-column  align-items-start">
                      <div class="text-lg font-semibold text-900">{{ student.name + " " + student.surname}} </div>
                      <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-envelope"></i>
                  <span >{{ student.email }}</span>
                </span>

                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 border-primary  border-1 border-solid mt-4" style="border-radius: 7px">
      <div>
        <div class="flex justify-content-between align-items-center  m-3">
          <span class="text-xl font-medium text-900 ">Evaluation Forms</span>
          <button *appHasRole="['INSTRUCTOR']" pButton pRipple
                  label="Create an  Evaluation Form" icon="pi pi-plus" class="p-button-success mr-2 mb-2"></button>
        </div>
        <p-dataView *appHasRole="['INSTRUCTOR','DEPARTMENT_MANAGER','ADMIN']" [value]="forms">
          <ng-template let-form pTemplate="listItem">
            <div class="col-12">
              <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">

                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="flex gap-3">
                      <div class="text-2xl font-bold text-900">{{ form.name }}</div>
                      <p-tag [value]="form.submitted?'PUBLISHED': 'NOT PUBLISHED'" [severity]="form.submitted?'success': 'danger'"></p-tag>
                    </div>
                    </div>
                  </div>
                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                  <span >20.05.2023 -28.06.2023 </span>
                  <span class="text-xl">Ends in 3 days</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
        <p-dataView *appHasRole="['STUDENT']" [value]="forms">
          <ng-template let-form pTemplate="listItem">
            <div class="col-12">
              <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">

                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="flex gap-3">
                      <div class="text-2xl font-bold text-900">{{ form.name }}</div>
                      <p-tag [value]="form.submitted?'SUBMITTED': 'INCOMPLETE'" [severity]="form.submitted?'success': 'warning'"></p-tag>
                    </div>
                  </div>
                </div>
                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                  <span >20.05.2023 -28.06.2023 </span>
                  <span class="text-xl">Ends in 3 days</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>

  </div>




</div>


<!--<p-dialog header="Enroll to Another Course" [(visible)]="enrollDialog" [dismissableMask]="true" [modal]="true"-->
<!--          [style]="{ width: '50vw' }" [draggable]="false"-->
<!--          [resizable]="false">-->
<!--  <ng-template pTemplate="content">-->
<!--    <label class="block text-base font-medium mb-2">Select a course to enroll</label>-->
<!--    <p-autoComplete [(ngModel)]="selectedCourse" [dropdown]="true" [suggestions]="departmentAllCourses" appendTo="body"-->
<!--                    placeholder="Course"-->
<!--                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"-->
<!--                    (completeMethod)="filterCourse($event)" field="name"></p-autoComplete>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <div class="flex align-items-center justify-content-center m-2">-->
<!--      <button pButton pRipple label="Enroll" icon="pi pi-check"-->
<!--              [disabled]="selectedCourse==null"-->
<!--              class="p-button-info mr-2 mb-2" (click)="enroll()">-->
<!--      </button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
<!--<p-confirmDialog #cdDrop key="dropDialog" [style]="{width: '50vw'}" [dismissableMask]="true">-->
<!--  <ng-template pTemplate="footer">-->
<!--    <button type="button" class="p-button-danger p-button-text" pButton icon="pi pi-times" label="No"-->
<!--            (click)="cdDrop.reject()"></button>-->
<!--    <button type="button" class="p-button-success p-button-text" pButton icon="pi pi-check" label="Yes"-->
<!--            (click)="cdDrop.accept()"></button>-->
<!--  </ng-template>-->
<!--</p-confirmDialog>-->
<!--<p-confirmDialog #cdDelete key="deleteDialog" [style]="{width: '50vw'}" [dismissableMask]="true">-->
<!--  <ng-template pTemplate="footer">-->
<!--    <button type="button" class="p-button-danger p-button-text" pButton icon="pi pi-times" label="No"-->
<!--            (click)="cdDelete.reject()"></button>-->
<!--    <button type="button" class="p-button-success p-button-text" pButton icon="pi pi-check" label="Yes"-->
<!--            (click)="cdDelete.accept()"></button>-->
<!--  </ng-template>-->
<!--</p-confirmDialog>-->
