<p-toast></p-toast>
<div *ngIf="formStatus">
  <p-dataView [value]="forms">
    <ng-template let-form pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">

          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="flex gap-3">
                <div class="text-2xl font-bold text-900">{{ form.name }}</div>
                <p-tag [value]="getStatus(form).text" [severity]="getStatus(form).severity"></p-tag>
              </div>
              <div class="flex  align-items-center gap-3 flex-row">
                <span >{{form.startDate|date : 'dd/MM/yyyy'}} - {{form.endDate|date : 'dd/MM/yyyy'}}</span>
                <span *appHasRole="['STUDENT']"><span *ngIf="getNumberOfDays(form.endDate)>0">Ends in <span class="font-semibold text-green-500">{{getNumberOfDays(form.endDate)}}</span> days</span></span>
              </div>
            </div>
            <div class="flex">
              <div *appHasRole="['STUDENT']">
                <button  *ngIf="formStatus[form.id] ||form.published &&getNumberOfDays(form.endDate)<=0 " (click)="goToFill(form.id)"
                         pButton pRipple label="See your answers"  icon="pi pi-chevron-right"  class="p-button-secondary p-button-sm mr-2 mb-2"></button>
                <button  *ngIf="!formStatus[form.id] &&form.published &&getNumberOfDays(form.endDate)>0" (click)="goToFill(form.id)"
                         pButton pRipple label="Go to Form"  icon="pi pi-chevron-right"  class="p-button-info p-button-sm mr-2 mb-2"></button>
              </div>
              <div *appHasRole="['INSTRUCTOR']">

                <button  *ngIf="!form.published" (click)="goToEdit(form.id)"
                         pButton pRipple label="Edit"  icon="pi pi-pencil"  class="p-button-info p-button-sm mr-2 mb-2"></button>
                <button  *ngIf="!form.published" (click)="confirmPublish(form.id)"
                         pButton pRipple label="Publish"  icon="pi pi-check-circle"  class="p-button-success p-button-sm mr-2 mb-2"></button>
                <button  *ngIf="form.published" (click)="openReEvalRequest(form)"
                         pButton pRipple label="Create Re-evaluation Request"  icon="pi pi-reply"  class=" p-button-sm mr-2 mb-2"></button>
              </div>
              <div *appHasRole="['INSTRUCTOR','DEPARTMENT_MANAGER', 'ADMIN']">
                <button  (click)="confirmDelete(form.id)"
                         pButton pRipple label="Delete"  icon="pi pi-trash"  class="p-button-danger p-button-sm mr-2 mb-2"></button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-confirmDialog #cdPublish key="publishDialog" [style]="{width: '50vw'}" [dismissableMask]="true">
  <ng-template pTemplate="footer">
    <button type="button" class="p-button-danger p-button-text" pButton icon="pi pi-times" label="No"
            (click)="cdPublish.reject()"></button>
    <button type="button" class="p-button-success p-button-text" pButton icon="pi pi-check" label="Yes"
            (click)="cdPublish.accept()"></button>
  </ng-template>
</p-confirmDialog>



<p-confirmDialog #cdDelete key="deleteDialog" [style]="{width: '50vw'}" [dismissableMask]="true">
  <ng-template pTemplate="footer">
    <button type="button" class="p-button-danger p-button-text" pButton icon="pi pi-times" label="No"
            (click)="cdDelete.reject()"></button>
    <button type="button" class="p-button-success p-button-text" pButton icon="pi pi-check" label="Yes"
            (click)="cdDelete.accept()"></button>
  </ng-template>
</p-confirmDialog>

<p-dialog header="Create Re-Evalutaion Request" [(visible)]="reEvalRequestDialog" [modal]="true" [style]="{ width: '50vw' }" styleClass="p-fluid" [draggable]="false" [resizable]="false" [dismissableMask]="true">
  <ng-template pTemplate="content">
    <form [formGroup]="reEvaluateForm" (ngSubmit)="createReEvalRequest()">

      <div>
        <label for="content" class="block text-base font-medium mb-2">Content</label>
        <div class="inline">
          <textarea id="content" formControlName="content" rows="5" pInputTextarea placeholder="Content" style="width: 100%"></textarea>
        </div>
        <p></p>
        <div *ngIf="f['content'].invalid && (f['content'].dirty )" style="text-align: left;">
          <small class="p-error"
                 *ngIf="f['content'].errors?.['content']">Content required!</small>
        </div>
      </div>

    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <div class="flex align-items-center justify-content-center m-2">
        <button pButton pRipple label="Close" icon="pi pi-times"
                class="p-button-secondary p-button-outlined mr-2 mb-2"
                (click)="reEvalRequestDialog=false">
        </button>
      </div>

      <div class="flex align-items-center justify-content-center m-2">
        <button pButton pRipple [disabled]="!this.reEvaluateForm.valid " label="Send" icon="pi pi-check"
                class="p-button-info mr-2 mb-2"
                (click)="createReEvalRequest()">
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

