<app-topbar [sidenav]="sidenav"></app-topbar>

<!--SIDEBAR-->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div *ngFor="let item of menuItems">
      <button *ngIf="!item.divider" mat-button class="menu-button" routerLink="{{item.route}}"
              routerLinkActive="active-sidebar-item">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </button>
      <mat-divider *ngIf="item.divider"></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
