.bg-circle {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-image: linear-gradient(140deg,var(--primary-color),var(--surface-ground) 80%);
  position: absolute;
  opacity: .25;
  z-index: -1;
}

.moveinright{
  margin-left: 110px;
  animation: movein 0.15s linear;
}
@keyframes  movein{
  from{
    opacity: 0;
    transform : translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
