<p-toast position="top-right"></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card">

      <p-table #dt [value]="students" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="caption">
          <div class="grid justify-content-between m-1">
            <div class="flex md:flex-row table-header align-items-center justify-content-center">
              <h1 class="m-0">Students</h1>
            </div>

            <div class="flex md:flex-row align-items-center justify-content-center">

            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>
            </th>
            <th>
              Name
            </th>
            <th>
              Surname
            </th>
            <th>
              Email
            </th>
            <th>
              Department
            </th>
            <th class="text-center">
              Actions
            </th>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-students>
          <tr>
            <td><span class="p-column-title"></span>
              <img alt="avatar" class="profile-avatar ml-2" src="{{students.profile_photo}}" >
            </td>
            <td><span class="p-column-title">Name</span>
              {{students.name}}
            </td>
            <td><span
              class="p-column-title">Surname</span>
              {{students.surname}}
            </td>
            <td><span class="p-column-title">Email</span>
              {{students.email}}
            </td>
            <td>
              <span class="p-column-title">Role</span>
              <p *ngIf="students.department==null"></p>
              <p *ngIf="students.department!=null">{{students.department.name}}</p>
            </td>
            <td><span class="p-column-title">Actions</span>

              <div class="flex flex-wrap md:justify-content-center justify-content-center card-container">
                <div *ngIf="!students.banned">
                  <button (click)="banUser(students)" pButton pRipple label="Ban User" type="button" icon="pi pi-ban" class="p-button-rounded p-button-danger mx-1" pTooltip="Ban {{students.name}}" tooltipPosition="left"></button>
                </div>
                <div *ngIf="students.banned">
                  <p-button label="Banned" [disabled]="true" styleClass="p-button-rounded p-button-warning"></p-button>
                </div>

              </div>


            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            Total Records: {{this.students?.length}}
          </div>
        </ng-template>

      </p-table>
    </div>
  </div>
  <p-confirmDialog #cd
                   [style]="{width: '50vw'}" [draggable]="false" [dismissableMask]="true">
    rejectButtonStyleClass="p-button-text">
    <ng-template pTemplate="footer">
      <button type="button" class="p-button-danger p-button-outlined" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" class="p-button-success p-button-outlined" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>


</div>

