<p-toast></p-toast>
<div class="w-full card flex align-items-center justify-content-center">
  <div class="w-full lg:w-7 px-4 lg:px-7 ">
    <form [formGroup]="form" (ngSubmit)="changepassword()">
      <div class="flex flex-column lg:px-5 lg:mx-5 ">
        <div class="flex flex-column align-items-center justify-content-center">
          <div class="mb-3 pt-1 " style="width: 90%">

            <label for="currentPassword" class="block text-base font-medium mb-2">Current Password</label>
            <div class="p-input-icon-left inline">
              <p-password formControlName="currentPassword" id="currentPassword"
                          [inputStyle]="{'width':'100%' ,'padding': '0.6rem'}"
                          [style]="{'width':'100%'}"
                          [toggleMask]="true" [feedback]="false" class="w-full " placeholder="Current Password"></p-password>
            </div>
            <div *ngIf="f['currentPassword'].invalid && (f['currentPassword'].dirty )" style="text-align: left;">
              <small class="p-error"
                     *ngIf="f['currentPassword'].errors?.['required']">Current Password required!</small>
            </div>
          </div>

          <div class="mb-3 pb-2" style="width: 90%">
            <label for="newPassword" class="block text-base font-medium mb-2">New Password</label>
            <div class="p-input-icon-left inline">
              <p-password formControlName="newPassword" id="newPassword"
                          [inputStyle]="{'width':'100%' ,'padding': '0.6rem'}"
                          [style]="{'width':'100%'}"
                          [toggleMask]="true" [feedback]="false" class="w-full " placeholder="New Password"></p-password>
            </div>
            <div *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty)" style="text-align: left;">
              <small class="p-error "
                     *ngIf="f['newPassword'].errors?.['required']">New Password required!</small>
            </div>
          </div>

          <div class="mb-3 pb-2" style="width: 90%">
            <label for="confirmpassword" class="block text-base font-medium mb-2">Confirm New password</label>
            <div class="p-input-icon-left inline">
              <p-password formControlName="confirmpassword" id="confirmpassword"
                          [inputStyle]="{'width':'100%' ,'padding': '0.6rem'}"
                          [style]="{'width':'100%'}"
                          [toggleMask]="true" [feedback]="false" class="w-full " placeholder="Confirm New password"></p-password>
            </div>
            <div *ngIf="f['confirmpassword'].invalid && (f['confirmpassword'].dirty)" style="text-align: left;">
              <small class="p-error "
                     *ngIf="f['confirmpassword'].errors?.['required']">Confirm password required!</small>
            </div>
            <div *ngIf="(f['confirmpassword'].dirty)" style="text-align: left;">
              <small class="p-error "
                     *ngIf="form.errors!=null && this.form.errors['passwordNotMatch']">Passwords does not match!</small>
            </div>
          </div>
        </div>

      </div>
      <div class="flex justify-content-between flex-wrap" style="width: 95%">
        <div></div>
        <span class="mb-4"></span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <button [disabled]="!this.form.valid" style="width:55%"
                type="submit" pButton pRipple
                label="Save" class="mb-4 p-3">
        </button>
      </div>
    </form>

  </div>

</div>
