<div class="flex align-items-center justify-content-center w-screen h-screen">
  <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius: 14px;">
    <h1 class="text-2xl mt-0 mb-2">Forgot Password?</h1>
    <div class="text-base"> Please enter the email address you'd like your new password sent to
    </div>
    <div class="mb-4 pt-4 ">
      <form [formGroup]="form" (ngSubmit)="sendResetPassword()">
        <label for="email" class="block text-base font-medium mb-2">Enter email address</label>
        <div class="p-input-icon-left inline">
          <i class="pi pi-envelope pr-2"></i>
          <input id="email" type="text" pInputText placeholder="Email address"
                 class="w-full" formControlName="email" style="padding-top: 12px;padding-bottom: 12px">
        </div>
        <div *ngIf="f['email'].invalid && (f['email'].dirty )" style="text-align: left;">
          <small class="p-error"
                 *ngIf="f['email'].errors?.['required']">Email required!</small>
        </div>

        <div class="flex flex-column align-items-center justify-content-center pt-5">
          <button [disabled]="!this.form.valid"
                  type="submit" pButton pRipple
                  label="Send new password" style="width:65% ; padding-top: 12px;padding-bottom: 12px">
          </button>
          <a class="text-primary text-base cursor-pointer underline-link pt-4" routerLink="/auth/login">Back to
            Login</a>
        </div>
      </form>
    </div>
  </div>

</div>


<p-dialog [modal]="true" [(visible)]="passwordSent" [breakpoints]="{ '960px': '75vw' }" [closable]="false"
          [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div class="flex flex-column align-items-center justify-content-center">
    <img alt="" src="/assets/layout/images/checkmark.jpg" width="140px">
    <h1 class="text-2xl py-2 text-center">Password sent. Please check your Email</h1>
    <div class="text-base p-1"> We sent an email to <span class="font-bold">{{form.value.email}}</span>.</div>
    <div class="text-base p-1"> Please use the new password sent in the email to login.</div>
    <a class="text-primary text-base cursor-pointer underline-link pt-4" routerLink="/auth/login">Back to Login</a>
  </div>
</p-dialog>
